html {
  margin: 0 auto;
  background-image: url("http://2.bp.blogspot.com/-6SjtINIKVYw/ULWKCbZYg6I/AAAAAAAABZk/bpkyaZy_oBA/s1600/spider-men-ultimate-skyline.jpg");
  background-size: cover;
  font-family: sans-serif;
}
h1, h2, h3 {
  font-family: 'Bangers', cursive;
  text-shadow: 1px 1px 0px black;
  color: rgb(139, 0, 0);
  margin: 30px;
  text-align: center;
}
a {
  text-decoration: none;
}
p {
  margin: 30px;
}
